/* for all pages should include this */
body {
    font-smoothing: subpixel-antialiased !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-osx-font-smoothing: auto !important;
    text-shadow: 0 0 1em transparent, 1px 1px 1.2px rgba(0, 0, 0, 0.004);
    /*text-rendering: optimizeLegibility;*/
    -webkit-overflow-scrolling: touch;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    letter-spacing: 0.025em;
}
:focus, .focus {
    outline: none !important;
}
::-moz-focus-inner {
    border: 0 !important;
}

/* manual fix for bootstrap issue 14040, there is an unnecessary padding-right on modal open */
body.modal-open {
    overflow-y: auto;
    padding-right: 0 !important;
}


/* talkpad additions  --- TODO move to better place */


.tt-up {
    text-transform: uppercase;
}

.tt-low  {
    text-transform: lowercase;
}

#doc {
    font-size: 120%;
}

#doc {
    --talking-color: yellow;
    --div-border-radius: 20px;
}

#doc.markdown-body {max-width: 100% }


#doc p { 
    border-radius: 30px; 
    border-left: 5px solid rgba(255,255,255,0.005);
    border-right: 5px solid rgba(255,255,255,0.005);
    padding-left: 15px; padding-right: 15px; padding-top: 0px; padding-bottom: 2px }

#doc p::selection { background-color: white }
    
.mildenberger span.syl:nth-child(2n+1) { color: darkblue }
.mildenberger span.syl:nth-child(2n)  { color: red }

.thick-vocals span.v { font-weight: bold; }

#doc p.talking,
span.word.talking 
  { background-color: var(--talking-color); }


span.syl.talking , 
span.syl:nth-child(2n).talking 
  {  background: var(--talking-color); }    
   
span.syl.selected { 
   border-top: 5px solid black;
   border-bottom: 5px solid black;
   border-radius: 10px;
}    

span.word.selected { 
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 10px;
}    
 

span.word , span.word.night {
    border-bottom: 5px solid  rgba(255,255,255,0.005);
    border-top: 5px solid  rgba(255,255,255,0.005); ;     
    padding-left: 2px;
    padding-right: 2px;
    padding-top:   5px;
    padding-bottom: 5px;
    color: black;
    display: inline-block;
    transition-property: all 0.3s ease;
    cursor: pointer; 
    line-height: 0.6;
}

#doc p.selected { 
    border-color: black;
    background: white !important;
    /* border-left: 6px solid black;
    border-right: 6px solid black;
    border-radius: 10px; */
}    



.markdown-body h1[id]:before,
.markdown-body h2[id]:before,
.markdown-body h3[id]:before,
.markdown-body h4[id]:before,
.markdown-body h5[id]:before,
.markdown-body h6[id]:before {
  display: block;
  content: " ";
  margin-top: 0px;
  height: 0px;
  visibility: hidden;
}


.markdown-body h1[id],
.markdown-body h2[id],
.markdown-body h3[id],
.markdown-body h4[id],
.markdown-body h5[id],
.markdown-body h6[id] {
    border-radius: var(--div-border-radius);
}