/* for all pages should include this */
body {
    font-smoothing: subpixel-antialiased !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-osx-font-smoothing: auto !important;
    text-shadow: 0 0 1em transparent, 1px 1px 1.2px rgba(0, 0, 0, 0.004);
    /*text-rendering: optimizeLegibility;*/
    -webkit-overflow-scrolling: touch;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    letter-spacing: 0.025em;
}
:focus, .focus {
    outline: none !important;
}
::-moz-focus-inner {
    border: 0 !important;
}

/* manual fix for bootstrap issue 14040, there is an unnecessary padding-right on modal open */
body.modal-open {
    overflow-y: auto;
    padding-right: 0 !important;
}

/* talkpad additions 
TODO move to better
*/
.tt-up {
    text-transform: uppercase;
}

.tt-low  {
    text-transform: lowercase;
}

#doc {
    font-size: 180%;
    line-height: 2.5;
}

span.word , span.word.night {
    border-bottom: 10px solid;
    border-top: 10px solid;
    
    border-radius: 15px;
    background-color: lightyellow;    
    padding-left: 2px;
    padding-right: 2px;
    padding-top:   2px;
    padding-bottom: 5px;
    color: black;
    display: inline-block;
    transition-property: all 0.3s ease;
    cursor: pointer; 
    line-height: 1.2;

}

#doc p {  display: block; }

span.word:hover { transform: scale(1.2) }
#doc p:hover { border: 10px solid black }

span.word.click { background-color: yellow !important; transform: scale(1.4) }

#doc p.click  { background-color: yellow }

span.v { color: red; }

#doc p::selection { background-color: white }

.ui-view-area, #doc { background-color: gray }

#doc p { background-color: lightgray; border-radius: 30px;
     border: 10px solid gray;
     padding-left: 30px; padding-right: 30px; padding-top: 10px; padding-bottom: 10px }

#doc.markdown-body {max-width: 100% }


#doc .word { border-color: lightyellow; } 
    
span.syl:nth-child(2n) { color: blue }
span.syl:nth-child(2n) span.v { color: darkred }

span.syl.click , span.syl:nth-child(2n).click { 
   background: yellow;
}    
   
span.syl:hover { 
   border: 2px solid black;
}    

