/* for all pages should include this */
body {
    font-smoothing: subpixel-antialiased !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-osx-font-smoothing: auto !important;
    text-shadow: 0 0 1em transparent, 1px 1px 1.2px rgba(0, 0, 0, 0.004);
    /*text-rendering: optimizeLegibility;*/
    -webkit-overflow-scrolling: touch;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    letter-spacing: 0.025em;
}
:focus, .focus {
    outline: none !important;
}
::-moz-focus-inner {
    border: 0 !important;
}

/* manual fix for bootstrap issue 14040, there is an unnecessary padding-right on modal open */
body.modal-open {
    overflow-y: auto;
    padding-right: 0 !important;
}

.tt-up {
    text-transform: uppercase;
}

.tt-low  {
    text-transform: lowercase;
}

#doc {
    font-size: 250%;
    line-height: 150%;
}

span.word , span.word.night {
    border-bottom: 8px solid;
    border-top: 8px solid;
    
    border-radius: 15px;
    background-color: lightyellow;    
    padding-left: 2px;
    padding-right: 2px;
    color: black;
}

span.l-a { xbackground-color: lightgreen !important; color: red;  }
span.l-e { xbackground-color: lightblue !important; color: red; }
span.l-ei { xbackground-color: plum !important; color: red;  }
span.l-au { xbackground-color: plum !important; color: red;  }
span.l-o { xbackground-color: plum !important; color: red;  }
span.l-u { xbackground-color: plum !important; color: red;  }
span.l-i { xbackground-color: plum !important; color: red;  }

#doc p::selection { background-color: white }
